// Define variables for your color scheme

// For example:
$red: #DE541E;
$light-gray: #DFDEDB;
$pink: #DF0E59;
$dark-gray: #262523;
$black: #070707;


// gradients
$gradient-gray: linear-gradient(to top, #070707, #151514, #262523);
$gradient-blue: linear-gradient(200deg , #DA4453, #89216B);
$gradient-light-gray: linear-gradient(to bottom, #ECECEC 30%, #CACACA 80%);

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
