
<div class="form-wrapper">
  <div class="form-container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Gift</h1>
      <p class="lead">Select a User & a Pack</p>
      <i class="fas fa-gift pt-5" style="font-size: 3em"></i>
    </div>
    <div class="form-content">
      <div class="search">
        <%= simple_form_for :gift, url: admin_gift_path, method: :post do |f| %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.input :user, collection: ['All Subs', User.all.pluck(:email)].flatten, input_html: { class: 'select2' }, label: false %>
            </div>
            <div class="col-sm-6">
              <%= f.input :pack, collection: Pack.all.pluck(:title), input_html: { class: 'select2' }, label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
