<div class="form-wrapper">
  <div class="form-container">
    <div class="form-content">
      <div class="search">
        <%= simple_form_for :gift, url: admin_gift_path, method: :post do |f| %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.input :user, collection: User.all.map {|u| u.email}, input_html: { class: 'select2' }, label: false %>
            </div>
            <div class="col-sm-6">
              <%= f.input :pack, collection: Pack.all.map {|p| p.title}, input_html: { class: 'select2' }, label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <%= f.submit %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
