<div class="banner">
  <div class="banner-content">
    <h1>Drum Society</h1>
    <p> My awesome tagline</p>
    <a class="main-btn" href="#">Join</a>
  </div>
</div>


<div class="value">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <div class="value-content">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut iusto, molestias officia delectus nam, numquam similique neque accusantium debitis fuga quaerat rem quidem illum. Similique sit qui autem aliquam commodi, minima fuga provident numquam ut, placeat dolor consequuntur vitae. Iusto illum amet aliquid eveniet harum molestiae impedit, perspiciatis libero deserunt. Dolore sunt velit, placeat. Voluptatem iste, voluptas. Assumenda a sequi cupiditate, repellendus consequatur impedit sunt dolore.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="feature">
          <i class="fas fa-check-circle"></i>
          <h2>Feature 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt molestiae odit cum quia similique quod laudantium beatae vel.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="feature">
          <i class="fas fa-globe-americas"></i>
          <h2>Feature 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt molestiae odit cum quia similique quod laudantium beatae vel.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="feature">
          <i class="fas fa-play-circle"></i>
          <h2>Feature 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt molestiae odit cum quia similique quod laudantium beatae vel.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-6">
        <img src="https://splice-res.cloudinary.com/image/upload/f_auto,q_auto,w_360,dpr_2.0/v1534158617/marketing_site/home/2018-08/featuresHome-testimonial_04_2x.png" alt="">
      </div>
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-6">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut iusto, molestias officia delectus nam, numquam similique neque accusantium debitis fuga quaerat rem quidem illum.</p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-6">
        <h2>Follow Us</h2>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><i class="fab fa-facebook"></i></li>
          <li class="list-inline-item"><i class="fab fa-twitter-square"></i></li>
          <li class="list-inline-item"><i class="fab fa-google-plus-square"></i></li>
          <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-6">
        <h2>Contact</h2>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email address">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your message..."></textarea>
          </div>
        </form>
      </div>
    </div>
    <p class="copyright">Copyright © 2019, All Right Reserved Drum Society</p>
  </div>
</div>
