<div class="banner">
  <div class="banner-content">
    <h1>Drum Society</h1>
    <p> My awesome tagline</p>
    <a class="main-btn" href="#">Join</a>
  </div>
</div>


<div class="value">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <div class="value-content">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut iusto, molestias officia delectus nam, numquam similique neque accusantium debitis fuga quaerat rem quidem illum. Similique sit qui autem aliquam commodi, minima fuga provident numquam ut, placeat dolor consequuntur vitae. Iusto illum amet aliquid eveniet harum molestiae impedit, perspiciatis libero deserunt. Dolore sunt velit, placeat. Voluptatem iste, voluptas. Assumenda a sequi cupiditate, repellendus consequatur impedit sunt dolore.</p>
        </div>
      </div>
    </div>
  </div>
</div>
