
<div class="container">

  <div class="subscription-wrapper">
    <div class="subscription-description">
      <h2>Premium Pack</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus in a dolor placeat veniam nemo at perspiciatis. Excepturi temporibus rem, animi est vero aliquam sunt voluptatem harum nemo ipsum.</p>
    </div>

    <div class="subscription-info">
      <%= form_tag subscriptions_path :method => :post do %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Premium Pack</h5>
            <span>10€ / Month</span>
            <p class="card-text">Be part of the drum society</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-check"></i>new samples every month</li>
            <li class="list-group-item"><i class="fas fa-check"></i>value 2</li>
            <li class="list-group-item"><i class="fas fa-check"></i>value 3</li>
          </ul>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="My Subscription"
          data-email="<%= current_user.email %>"
          data-description="Drm-Sct Subscription"
          data-amount="1000"
          data-currency="EUR">
        </script>
        </div>
      <% end %>
    </div>
  </div>

</div>
