<div class="container">
  <% if current_user.subscriber? %>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1>You are already part of society</h1>
      <p>consult your dashboard <%= link_to 'here', profile_path %></p>
    </div>
  <% elsif @subscribers.count >= 500 %>
    <h1>there is no more slot available for the moment</h1>
  <% else %>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore aliquam vero aperiam doloribus at quasi sed deleniti corporis consequuntur ipsum earum.</p>
    </div>


    <div class="row">
      <div class="col-sm-4 offset-md-4">
        <%= form_tag new_sub_path :method => :post do %>
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal gold">Gold</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">10€ <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li><i class="fas fa-check"></i>New Packs Every Month</li>
                  <li><i class="fas fa-check"></i>-10% on all shop articles</li>
                  <li><i class="fas fa-check"></i>Email support</li>
                  <li><i class="fas fa-check"></i>Help center access</li>
                </ul>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="Gold Subscription"
                  data-email="<%= current_user.email %>"
                  data-description="10€/Month"
                  data-amount="1000"
                  data-currency="EUR">
                </script>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
