<div class="container">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Shop</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore aliquam vero aperiam doloribus at quasi sed deleniti corporis consequuntur ipsum earum.</p>
  </div>

  <div class="filter">
    <%= simple_form_for :query, url: shop_packs_path, method: :get, html: {id: 'filter-form'}, remote: true do |f| %>
      <%= f.input :filter, collection: Pack.packs_filter, input_html: { class: 'select2' }, label: false %>
      <%= f.submit id: 'filter-submit', class: 'd-none' %>
    <% end %>
  </div>

  <div class="products">
    <%= render './shared/products', packs: @packs %>
  </div>

</div>
