<div class="row mb-5">
  <% packs.each do |pack| %>
    <div class="d-flex recent-prod-card">
      <%= link_to pack_path(pack) do  %>
        <div class="pack-card grow" style="background-image: url(<%=pack.photo_url%>);">
          <% if pack.new? %>
            <div class="new-tag">New</div>
          <% end %>
          <div class="overflow">
            <div class="pack-card-category"><%= pack.title %></div>
            <div class="pack-card-description">
            <%= button_to 'Download', download_pack_path(pack), class: 'card-btn my-2' %>
            </div>
          </div>
        </div>
        <div class="hover-slider"></div>
      <% end %>
    </div>
  <% end %>
</div>
