<% if @order.order_items.exists? %>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6" id="total-amount"><h4><%= humanized_money_with_symbol(@order.total.to_f/100) %></h4></div>
  </div>
<% end %>
