.banner {
  width: 100%;
  background-size: fit;
  background-position: center;
  height: 85vh;
  border-bottom-right-radius: 80px;
  display: flex;
  // background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.3)), url("../assets/images/banner-image.jpg");
  align-items: center;
  justify-content: center;
  color: $light-gray;
}

.banner-content {
  justify-content: center;
  width: 50%;
  text-align: center;
  .heading {
    margin-bottom: 20px;
  }
  p {
    font-weight: lighter;
    margin-bottom: 40px;
  }
}

.slots {
  margin-top: 10px;
}
