.footer {
  padding: 80px 80px 10px 80px;
  background-color: $black;
  border-top-right-radius: 300px;
  color: white;
  i {
    font-size: 25px;
  }
}

.copyright {
  margin-top: 60px;
}

.follow-us {
  text-align: end;
}

.list-inline {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
.list-inline-item {
  width: 50px;
  i {
    transition: all .2s ease-in-out;
    font-size: 40px;
  }
}
.list-inline-item:hover {
  i {
    font-size: 45px;
    color: $pink;
  }
}
