.footer {
  padding: 80px 80px 10px 80px;
  background-color: $black;
  border-top-right-radius: 80px;
  color: white;
  i {
    font-size: 25px;
  }
}

.copyright {
  margin-top: 60px;
}

.follow-us {
  text-align: end;
}
